body{
    background-color:white;
 }
 fieldset{
    background-color: #006bb3;

 }
form{
    width: 50%;margin: auto;
}

input[type="text"]{
    width: 60%;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#e6f2ff ;
    text-align: center;

}
input[type="date"]{
    width: 60%;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#e6f2ff ;
    text-align: center;
}
input[type="submit"]{
    padding: 5px;
}

#fechaEntradaFija {
    background-color: #a59f9f !important;
    border-color: #a59f9f !important;
}
