/*Ordenat de dalt a baix*/
h1{
	font-weight: bold!important;
	color: white!important;
	margin-top: 50px;
	text-align: center;
	font-family: "Bookman Old Style";
	font-size: 24px;
}
caption{
	padding:5px;
	font-weight: bold;
	text-align: center!important;
	font-family: "Bookman Old Style";
	font-size: 17px;
	color: white!important;
	background-color: #006bb3;
}
nav{
	text-align: center;
	padding:5px;
	margin-bottom: 15px;
	background-color: #006bb3;
}
a{
	text-decoration: none!important;
}


/*#planta1 td, #planta4 td{

	background-color: #b3e0ff;
}*/

/*#planta2 td, #planta3 td, #planta1 td, #planta4 td{

	background-color: #e6f5ff;
}*/

li {
	font-size: 11px;
}

td {
  height:55px;
  width:55px;
}
td :hover{
	cursor: pointer;
}

.lliure{
  background: green;
  height: 50px;
  padding-top: 0px;
}

.ocupada{
  background: red;
  height: 50px;
  padding-top: 0px;
}

.reservat{
  background: orange;
  height: 50px;
  padding-top: 0px;
}

.fechaAnterior{
	background: #ad5873;
	height: 50px;
	padding-top: 0px;
}


/*Footer*/
footer{
	position: absolute;
}
#taulaReserves{

width: 45%;
background-color: orange;
}

#loquesea{
width: 45%
}
