
.lliure{
  background: green;
  height: 20px;
  padding-top: 0px;
}

.ocupada{
  background: red;
  height: 20px;
  padding-top: 0px;
}

.reservat{
  background: orange;
  height: 20px;
  padding-top: 0px;
}

a{
  text-decoration: white;
  color:white;
}
caption{
  font-size: 32px;
  font-weight: bold;
  padding:10px ;
  background-color: #364E68;
  color:white;
}

  